/* =========================
   RESET
========================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* =========================
   BODY
========================= */
body{
    background:#f8e9e9;
    padding:20px;
}

/* =========================
   MAIN CONTAINER (A4 STYLE)
========================= */
.cont{
    max-width:900px;
    margin:auto;
    background:white;
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

/* =========================
   HEADER
========================= */
.header{
    width:100%;
    height: 100px;
    display:flex;
    align-items:center;
    gap:20px;
    padding:20px;
    border-bottom:1px solid #ddd;
    background:#1e293b;
}

.photo img{
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit:cover;
    border: 4px solid white;
}

.name h1{
    font-size:30px;
    color:white;
}

/* =========================
   LEFT SIDEBAR
========================= */
.left{
    flex:1;
    min-width:250px;
    max-width: 260px;
    padding:20px;
    background:#f1f5f9;
    border-right:1px solid #ccc;

    display:flex;
    flex-direction:column;
    gap:20px;
}

.left h2{
    font-size:17px;
    color:#2c3e50;
    margin-top:10px;
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
}

/* Remove bullets for Contact & Links */
.left h2:nth-of-type(1) + ul,
.left h2:nth-of-type(2) + ul{
    list-style:none;
    padding-left:0;
}

/* Normal bullets for others */
.left ul{
    padding-left:18px;
}

.left li{
    font-size:14px;
    margin-bottom:6px;
}

/* =========================
   RIGHT CONTENT
========================= */
.right{
    flex:2;
    padding:20px;
}

.right h2{
    font-size:18px;
    color:#2c3e50;
    margin:15px 0 10px;
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
}

.right h3{
    font-size:15px;
    margin: 10px 0 10px;
    color:#333;
    padding-bottom:0px;

}

.right ul{
    padding-left:18px;
    margin-bottom:10px;
}

.right li{
    margin-bottom:0px;
    font-size: 14;
}

.right p{
    font-size:14px;
    margin:5px 0;
    line-height:1.5;
    color:#444;
}
.right li p{
    font-size:14px;
    margin:5px 0;
    line-height:1.2;
    color:#444;
}

/* =========================
   BOLD TITLES (Projects etc.)
========================= */
.right li b{
    display:block;
    font-size:15px;
    color:#000;
}

/* =========================
   LINKS STYLE
========================= */
a{
    color:#e57373;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

/* =========================
   RESPONSIVE
========================= */
@media(max-width:768px){
    .left, .right{
        width:100%;
        flex:unset;
    }

    .header{
        flex-direction:column;
        text-align:center;
    }

    .photo img{
        margin-bottom:10px;
    }
}
