<html>
    <head>
                <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home page</title>
    </head>
    <body>
        <h1>Home Page</h1>
            <form action="{{ url_for('resume') }}" method="POST" enctype="multipart/form-data">
                <div class="profile">
                <table>
                    <tr>
                        <th>Profilr Picture</th>
                        <td><input type="file" name="photo" id="photo" accept=".jpg,.jpeg,.png" required></td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td><input type="text" name="name" id="name" required></td>
                    </tr>
                </table>
            </div>
            <div class="personal_info">
                <table>
                    <tr>
                        <th>Email:</th>
                        <td><input type="email" name="email" id="email" required></td>
                    </tr>
                    <tr>
                        <th>Number:</th>
                        <td><input type="number" name="number" id="number" pattern="[6-9]{1}[0-9]{9}" maxlength="10" required></td>
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td><input type="text" name="city" id="city" required></td>
                    </tr>
                        <tr>
                        <th>State:</th>
                        <td><input type="text" name="state" id="state" required></td>
                    </tr>
                </table>
            </div>
            <div class="academic_info">
                <table>
                    <tr>
                        <th>School:</th>
                        <td><input type="text" name="schl" id="schl"></td>
                    </tr>
                    <tr>
                        <th>Passing Year:</th>
                        <td><input type="number" name="schlpass" id="schlpass" min="1926" max="2099"></td>
                        <th>Percentage/Marks:</th>
                        <td><input type="number" name="schlmarks" id="schlmarks"></td>
                    </tr>
                    <tr>
                        <th>Inter/Diploma:</th>
                        <td><input type="text" name="inter" id="inter"></td>
                        <th>Stream:</th>
                        <td><input type="text" name="stream" id="stream"></td>
                    </tr>
                    <tr>
                        <th>Passing Year</th>
                        <td><input type="number" name="interpass" id="interpass" min="1926" max="2099"></td>
                        <th>Pecentage/Marks:</th>
                        <td><input type="text" name="intermarks" id="intermarks"></td>
                    </tr>
                    <tr>
                        <th>Btech:</th>
                        <td><input type="text" name="clgname" id="clgname" required></td>
                        <th>Branch:</th>
                        <td><input type="text" name="branch" id="branch" required></td>
                    </tr>
                    <tr>
                        <th>Graduaion Year:</th>
                        <td><input type="number" name="grdyear" id="grdyear" min="1926" max="2099" required></td>
                        <th>CGPA:</th>
                        <td><input type="number" name="cgpa" id="cgpa" step="0.01" min="0.00" max="10.00" required></td>
                    </tr>
                </table>
            </div>
            <div class="Skills">
                <table>
                    <tr>
                        <th>Technical Skills:</th>
                        <td><textarea name="techskills" id="techskills"></textarea></td>
                    </tr>
                    <tr>
                        <th>Soft Skills:</th>
                        <td><textarea name="softskills" id="softskills"></textarea></td>
                    </tr>
                </table>
            </div>
            <div class="languages">
                <table>
                    <tr>
                        <th>Languages:</th>
                        <td><textarea name="lang" id="lang"></textarea></td>
                    </tr>
                </table>
            </div>
            <div class="experience">
                <table>
                    <tr>
                        <th>Work Experience:</th>
                        <td><textarea name="exp" id="exp"></textarea></td>
                    </tr>
                    <tr>
                        <th>Internships:</th>
                        <td><textarea name="intern" id="intern"></textarea></td>
                    </tr>
                </table>
            </div>
            <div class="profile_desc">
                <table>
                    <tr>
                        <th>Description:</th>
                        <td><textarea name="desc" id="desc"></textarea></td>
                    </tr>
                </table>
            </div>
            <button type="submit">Generate</button>
        </form>
    </body>
</html>
