<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='one_resume.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume</title>
    </head>
    <body>
        <div class="main">
            <!-- Personel Information -->
            <h2>{{data.name}}</h2>
            <p class="details">{{data.number}} | {{data.email}} | {{data.linkedin}}</p>
            <h3>Career Objective</h3>
            <p>{{data.desc}}</p>

            <!-- Education -->
            <h3>Education</h3>
            <strong>{{data.btech}} </strong><p>- {{data.grdyear-4}} - {{data.grdyear}}</p>
            <p><i>Bachelor Of Technology in {{data.branch}} with {{data.cgpa}}</i></p>

            <!-- Skills -->
            <h3>Technical Skills</h3>
            <ul>
                <li><b>Programming: </b>{{", ".join(data.progskills)}}</li>
                <li><b>DataBase: </b>{{", ".join(data.dbskills)}}</li>
                <li><b>Data Skills: </b>{{", ".join(data.dtskills)}}</li>
                <li><b>Tools: </b>{{", ".join(data.tools)}}</li>
                <li><b>Operating Systems: </b>{{", ".join(data.os_skills)}}</li>
            </ul>

            <!-- Experience -->
            {% if exps | length>0 %}
                <h3>Experience</h3>
                <ul>
                    {% for ex,exd in exps %}
                        <li><b>{{ex}}</b>
                            <ul>
                                {% for d in exd.split("\n") %}
                                    <li><p>{{d}}</p></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Projects -->
            {% if projs | length>0 %}
                <h3>Projects</h3>
                <ul>
                    {% for prj,prjd in projs %}
                        <li><b>{{prj}}</b>
                            <ul>
                                {% for d in prjd.split("\n") %}
                                    <li><p>{{d}}</p></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Certificates -->
            <ul>
                <li></li>
            </ul>
        </div>
    </body>
</html>
