<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='resume.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume</title>
    </head>
    <body>
        <div class="cont">
            <div class="header">
                {% if data.photo %}
                    <div class="photo">
                        <img src="{{ url_for('static', filename=data.photo) }}">
                    </div>
                {% endif %}
                <div class="name">
                    <h1>{{data.name}}</h1>
                </div>
            </div>

            <div class="left">
                <h2>Contact</h2>
                <ul>
                    <li>📧 {{data.email}}</li>
                    <li>📱 {{data.number}}</li>
                    <li>📍 {{data.city}}, {{data.state}}</li>
                </ul>
                <h2>Links</h2>
                <ul>
                    <li>🔗 {{data.linkedin}}</li>
                    <li>🖥️ {{data.code}}</li>
                </ul>
                <h2>Technical Skills</h2>
                
                <h5>Programming Skills</h5>
                <ul>
                    {% for skill in data.progskills if skill.strip() %}
                        <li>{{skill}}</li>
                    {% endfor %}
                </ul>
                <h5>DataBase Skills</h5>
                <ul>
                    {% for skill in data.dbskills if skill.strip() %}
                        <li>{{skill}}</li>
                    {% endfor %}
                </ul>
                <h5>Tools</h5>
                <ul>
                    {% for skill in data.tools if skill.strip() %}
                        <li>{{skill}}</li>
                    {% endfor %}
                </ul>
                
                <h2>Languages</h2>
                <ul>
                    {% for lan in data.lang if lan.strip() %}
                        <li>{{lan}}</li>
                    {% endfor %}
                </ul>
                
            </div>

            <div class="right">
                <h2>Description</h2>
                
                <p>{{data.desc}}</p>

                <h2>Academic Qualification</h2>
                
                <h3>Secondary Education</h3>
                <ul>
                    <li><p>School: {{data.school}}</p></li>
                    <li><p>Year of Passing: {{data.schlpass}}<p></li>
                    <li><p>Marks: {{data.schlmarks}}</p></li>
                </ul>
                <h3>Higher Secondary Education</h3>
                <ul>
                    <li><p>College: {{data.inter}}</p></li>
                    <li><p>Stream: {{data.stream}}</p></li>
                    <li><p>Year of Passing: {{data.interpass}}</p></li>
                    <li><p>Marks: {{data.intermarks}}</p></li>
                </ul>
                <h3>Graduation</h3>
                <ul>
                    <li><p>Institute: {{data.btech}}</p></li>
                    <li><p>Branch: {{data.branch}}</p></li>
                    <li><p>Graduation Year: {{data.grdyear}}</p></li>
                    <li><p>CGPA: {{data.cgpa}}</p></li>
                </ul>

                <h2>Experience</h2>
                {% if exps %}
                    <h3>Industry</h3>
                    <ul>
                        {% for ex,exd in exps %}
                            <li>
                                <b>{{ex}}</b>
                                <p>{{exd}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if intern %}
                    <h3>Internship</h3>
                    <ul>
                        {% for int,intd in intern %}
                            <li>
                                <b>{{int}}</b>
                                <p>{{intd}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if projs %}
                    <h2>Projects</h2>
                    <ul>
                        {% for proj,projd in projs %}
                            <li>
                                <b>{{proj}}</b>
                                <p>{{projd}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if certs%}
                    <h2>Certificates</h2>
                    <ul>
                        {% for cert,certd in certs %}
                            <li>
                                <b>{{cert}}</b>
                                <p>{{certd}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </body>
</html>
