<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='resume.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume</title>
    </head>
    <body>
        <div class="cont">
            <div class="header">
                <!-- {% if data.photo %}
                    <div class="photo">
                        <img src="{{ url_for('static', filename=data.photo) }}">
                    </div>
                {% endif %} -->
                <div class="name">
                    <h1>{{data.name}}</h1>
                </div>
            </div>

            <div class="left">
                <h2>Contact</h2>
                <ul>
                    <li><p>📧</p>{{data.email}}</li>
                    <li><p>📱</p>{{data.number}}</li>
                    <li><p>📍</p>{{data.city}}, {{data.state}}</li>
                </ul>
                <h2>Links</h2>
                <ul>
                    {% if data.linkedin | length>0 %}
                        <li><p>🔗</p>{{data.linkedin}}</li>
                    {% endif %}
                    {% if data.code | length>0 %}
                        <li><p>🖥️</p>{{data.code}}</li>
                    {% endif %}
                    {% if data.git | length>0 %}
                        <li><p>🗂️</p>{{data.git}}</li>
                    {% endif %}
                </ul>
                <h2>Technical Skills</h2>
                
                <h5>Programming Skills</h5>
                <ul>
                    {% for skill in data.progskills if skill.strip() %}
                        <li>{{skill}}</li>
                    {% endfor %}
                </ul>
                <h5>DataBase Skills</h5>
                <ul>
                    {% for skill in data.dbskills if skill.strip() %}
                        <li>{{skill}}</li>
                    {% endfor %}
                </ul>
                <h5>Tools</h5>
                <ul>
                    {% for skill in data.tools if skill.strip() %}
                        <li>{{skill}}</li>
                    {% endfor %}
                </ul>
                
                <h2>Languages</h2>
                <ul>
                    {% for lan in data.lang if lan.strip() %}
                        <li>{{lan}}</li>
                    {% endfor %}
                </ul>
                
            </div>

            <div class="right">
                <h2>Description</h2>
                
                <p class="desc">{{data.desc}}</p>

                <h2>Academic Qualification</h2>
                <ul>
                    <li><h3>{{data.btech}}</h3>
                    Bachelor Of Technology (B-Tech) in {{data.branch}} {{data.grdyear-4}} - {{data.grdyear}}
                    <p>Dedicated and detail-oriented B.Tech student in {{data.branch}} with a CGPA of {{data.cgpa}}, strong analytical skills, and practical project experience. Seeking a challenging role to leverage technical expertise and deliver impactful solutions.</p></li>
                </ul>
                {% if exps  | length>0 %}
                    <h2>Experience</h2>
                    <ul>
                        {% for ex,exd in exps %}
                            <li>
                                <b>{{ex}}</b>
                                <p>{{exd}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if projs | length>0 %}
                    <h2>Projects</h2>
                    <ul>
                        {% for proj,projd in projs %}
                            <li>
                                <b>{{proj}}</b>
                                <p>{{projd}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if certs | length>0 %}
                    <h2>Certificates</h2>
                    <ul>
                        {% for cert,certd in certs %}
                            <li>
                                <b>{{cert}}</b>
                                <p>{{certd}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </body>
</html>